<div data-animation="default" class="nav-bar w-nav" data-easing2="ease" data-easing="ease-out-quart" data-collapse="medium" data-w-id="38403bc2-1ad3-da8a-e3b0-7c2f917f112a" role="banner" data-duration="400">
    <div class="wrapper">
      <a href="{{ links.2f }}" aria-current="page" class="brand w-nav-brand w--current"><img class="logo" src="{{ images.-4d0025e.url }}" alt="{{ images.-4d0025e.alt | trim | escape }}" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;53vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;165px&quot;}]" sizes="(max-width: 479px) 100vw, 165px" loading="eager" width="165" height=""></a>
      <div class="menu-button w-nav-button">
        <div data-is-ix2-target="1" class="lottie-animation" data-w-id="38403bc2-1ad3-da8a-e3b0-7c2f917f112f" data-animation-type="lottie" data-src="/assets/documents/lf30_editor_bg4xnxdm.json" data-loop="1" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="0.6666666666666666" data-duration="0" data-ix2-initial-state="0"></div>
      </div>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="{{ links.-33035a13 }}" class="nav-link w-nav-link">{{ texts.71b8358a }}</a>
        <a href="{{ links.-30ce79bb }}" class="nav-link w-nav-link">{{ texts.-11f6d62d }}</a>
        <a href="{{ links.3eb896b5 }}" class="nav-link w-nav-link">{{ texts.5fa7685f }}</a>
        <a href="{{ links.-30472183 }}" class="nav-link button w-nav-link">{{ texts.-5230a9d2 }}</a>
      </nav>
    </div>
  </div>